[Unit]
Description=Airplane Project
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/code/airplane-project/client
Environment=PYTHONUNBUFFERED=1
Environment=PATH=/home/pi/code/airplane-project/client/.venv/bin:/usr/bin:/bin
ExecStart=/home/pi/code/airplane-project/client/.venv/bin/python /home/pi/code/airplane-project/client/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target